<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Conversionbug_HelloMagento::main_menu" title="Simple News" 
            module="Conversionbug_HelloMagento" sortOrder="20" 
            resource="Conversionbug_HelloMagento::simplenews" />
        <add id="Conversionbug_HelloMagento::add_news" title="Add News" 
            module="Conversionbug_HelloMagento" sortOrder="1" parent="Conversionbug_HelloMagento::main_menu" 
            action="simplenews/news/new" resource="Tutorial_SimpleNews::manage_news" />
        <add id="Conversionbug_HelloMagento::manage_news" title="Manage News" 
            module="Conversionbug_HelloMagento" sortOrder="2" parent="Conversionbug_HelloMagento::main_menu" 
            action="simplenews/news/index" resource="Tutorial_SimpleNews::manage_news" />
        <add id="Conversionbug_HelloMagento::configuration" title="Configurations" 
            module="Conversionbug_HelloMagento" sortOrder="3" parent="Conversionbug_HelloMagento::main_menu" 
            action="adminhtml/system_config/edit/section/simplenews" 
            resource="Conversionbug_HelloMagento::configuration" />
    </menu>
</config>